*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.header{
    /* background-color: lightcoral; */
    width: 100%;
    /* height: 400px; */
    height: 100vh;
    text-align: center;
}

.header-container{
    background-color: rgb(46 114 182);
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    box-shadow: 0px 0px 15px rgb(0 0 0 /0.5);
    position: sticky;
    top: 0;
}

.menu{
    /* background-color: lightgray; */
    width: 200px;
    height: 80px;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;
}

.list-menu{
    /* background-color: lightgray; */
    width: 55%;
    height: 80px;
    /* margin-left: 300px; */
    position: absolute;
    right: 20px;
    padding: 30px;
}

.list-ul{
    list-style: none;
    text-align: center;
}

.list-li{
    display: inline-block;
    margin: 0px 20px;
    width: 80px;
    height: 30px;
    padding: 2px;
    /* background-color: rgb(172, 28, 28); */
    border-radius: 5px;
    /* margin-left: auto;
    margin-right: auto; */
}

.list-li > a{
    text-decoration: none;
    color: #fff;
}
.list-li:hover{
    display: inline-block;
    width: 80px;
    height: 30px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(46 114 182);
}
.link-menu:hover{
    color: rgb(46 114 182);
}

.logo{
    width: 120px;
}

.container{
    /* background-color: #fff; */
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
}

.title{
    display: block;
    font-family: 'Alkalami', serif;
    font-size: 60px;
    /* background-color: rgb(234, 29, 29); */
    padding: 0px;
    margin: 0px;
}

.title-2{
    /* background-color: aquamarine; */
    color: rgb(46 114 182);
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Alkalami', serif;
    font-size: 40px;
}

.subtitle{
    font-family: 'Fuzzy Bubbles', cursive;
    /* background-color: lightcoral; */
    margin-top: -15px;
}

/* Portada */
.portada{
    padding: 50px;
    /* margin-top: 100px; */
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: lightcoral; */
    width: 100%;
    max-width: 1520px;
    height: 100vh;
    max-height: 645px;
    margin-left: auto;
    margin-right: auto;
}
.content-portada{
    /* background-color: rebeccapurple; */
    margin-top: 150px;
}
.button-portada{
    display: inline;
    transition: 1s;
}

.button-portada > button{
    margin-right: 20px;
    margin-left: 20px;
    transition: 1s;
}

/* Tarjeras de Productos */
.target{
    background-color: rgb(46 114 182);
    width: 250px;
    height: 400px;
    border-radius: 10px;
    color: black;
    display: inline-block;
    overflow: hidden;
    padding: 20px;
    /* margin-right: 10px; */
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px black;
}
.target:hover{
    background-color: rgb(115, 114, 114);
    width: 260px;
    height: 410px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
}

.img-target{
    /* background-color: #fff; */
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    width: 200px;
}
.precio{
    /* background-color: #fff; */
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'fuzzy Bubbles', cursive;
    font-size: 20px;
}

.description-target{
    margin-top: 5px;
    margin: 10px;
    height: 30px;
    /* background-color: #fff; */
}

.text-description{
    font-family: 'Alkalami', serif;
    font-size: 20px;
}

/* LOGIN */
/* body{
    background-image: url(../img/banner2.jpg);
    
    background-attachment: fixed;
}    */

main{
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}
.main-login{
    background-image: url(/img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container_all{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* background-color: lightskyblue; */
}

.box_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(50, 144, 163, 0.5);
}

.box_trasera div{
    margin: 100px 40px;
    color: #fff;
    transition: 500ms;
}

.box_trasera div p, .box_trasera div button{
    margin-top: 30px;
}

.box_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.box_trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: 300ms;
}
.box_trasera button:hover{
    background-color: #fff;
    color: rgb(50, 144, 163);
}

/* Formularios Login y Register */
.container_login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -205px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.27);
}

.container_login-register form{
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(80, 80, 80);
    position: absolute;
    border-radius: 20px;
}

.container_login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3290a3;
}

.container_login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #b4b4b4;
    font-size: 16px;
    outline: none;
}

.container_login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: #3290a3;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.formulario_login{
    opacity: 1;
    display: block;
}
.formulario_register{
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 850px) {
    main{
        margin-top: 50px;
    }

    .box_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .box_trasera div{
        margin: 0px;
        position: absolute;
    }

    /* Formularios */

    .container_login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .container_login-register form{
        position: relative;
    }
}


/* Insertar Productos */
.insert-prod{
    background-color: rgb(46 114 182);
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    box-shadow: 0px 0px 15px rgb(0 0 0 /0.5);
    position: sticky;
    top: 0;
}

.container-insert{
    /* background-color: lightcoral; */
    width: 100%;
    text-align: center;
    padding: 20px;
}
.title-insert{
    font-family: 'Alkalami', serif;
}
.form-insert{
    /* background-color: rgba(65, 83, 165 , 0.5); */
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}
.form-insert input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
.form-insert button{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #3290a3;
    color: #fff;
}

/* Pagina Productos */
.header-prod{
    width: 100%;
    height: 100px;
    text-align: center;
    /* background-color: rgb(143, 15, 15); */
}

/* Pie de pagina */
.footer{
    background-color: rgb(184, 184, 184);
    color: aliceblue;
    text-align: center;
}

